<div id="content" #content > 
 
  <table> 
  <tr> 
  <th>Column1</th> 
  <th>Column2</th> 
  <th>Column3</th> 
  </tr> 
  <tr> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  </tr> 
  <tr> 
  <td>Row 2</td> 
  <td>Basically all configurable options are wrapped into exportAsConfig object. For the special options for each format alone please set your custom options inside exportAsConfig.options object.</td> 
  <td>Row 2</td> 
  </tr> 
  <tr> 
  <td>Row 3</td> 
  <td>Row 3</td> 
  <td>Row 3</td> 
  </tr> 
  <tr> 
  <td>Row 4</td> 
  <td>Row 4</td> 
  <td>Row 4</td> 
  </tr> 
  </table>   
  
 </div> 
 <div >
  <button value="CPTURE"  (click)="downloadpdf()" >DownloadFile</button></div>